/* This stylesheet is shared with myplan page and mealplan page */

/*Mealplan style*/
.banner {
    width: 100%;
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../img/mealplan-bg.jpg") center no-repeat;
    background-size: cover;
    padding: 100px 0 20px;
}
.banner h1 {
    font-family: "Montserrat", sans-serif;
    padding: 4%;
    text-align: center;
    color: white;
}

.mealplan {
    padding: 60px 20px;
}

#mealplan-form h5 {
    text-align: center;
}

.diet-info-btn {
    font-size: 15px;
    color: black;
}

.diet-info-btn:hover {
    color: #e66f0f;
}

#mealplan-result {
    margin-top: 3em;
}

.btn-recipe {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    display: inline-block;
    padding: 10px 0;
    width: 200px;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s;
    color: #fff;
    background: orangered;
    border: 2px solid orangered;
}

.btn-recipe:hover {
    background: none;
    color: orangered;
}

.card {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: 500;
}

.card-text {
    line-height: 2;
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 1.5em;
    }
}

/*Myplan style*/

.myplan {
    padding: 80px 0 30px;
}

.myplan .container {
    width: 80%;
    background: white;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.myplan .row,
#myplan-quiz {
    padding: 2%;
}

#myplan-form p {
    color: grey;
}
.box {
    padding: 50px 20px;
    background-color: white;
    color: rgb(79, 63, 47);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.box:nth-child(odd) {
    background-color: #d64d23;
    color: white;
}

#weightlog-form label {
    margin-right: 10px;
}
.btn-submit,
.btn-edit {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    color: #fff;
    background: #a84004;
    border: 2px solid #a84004;
    margin-left: 10px;
}

.btn-submit:hover,
.btn-edit:hover {
    background: none;
    color: #7c2903;
    color: #fff;
}

.btn-edit {
    margin: 0;
    padding: 7px 20px;
}

#text-info {
    margin-bottom: 5px;
}

#weightlog-message {
    margin: 10px;
}
.btn-quiz-submit {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    margin: 0 20px 20px 0;
    color: #fff;
    background: #f78b11;
    border: 2px solid #f78b11;
}

.btn-quiz-submit:hover {
    background: none;
    color: #f78b11;
}

/*Style the text in the user details box*/
#welcome {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

#weightlog-message {
    color: rgb(255, 230, 220);
}

.blue {
    color: rgb(248, 222, 187);
}

.orange {
    color: #d64d23;
    font-weight: 500;
}
/*Toast*/

#toast-text {
    color: black;
}

.card {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

@media (max-width: 768px) {
    .myplan .container {
        width: 100%;
    }
    .btn-submit {
        margin-top: 17px;
    }

    #myplan-form {
        padding: 3%;
    }
    #myplan-form h3 {
        font-size: 1.5em;
    }
    #myplan-form h5 {
        font-size: 1em;
    }
    #myplan-form label {
        font-size: 0.8em;
    }
}

@media (max-width: 360px) {
    .btn-submit {
        margin: 0;
    }
}
